body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.img-body {
	background-image: url(../../public/images/illustration.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
