.header {
	background-color: #4caf50;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between; /* Use space-between to position items at both ends */
}

.pic {
	margin-left: 1em;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	position: relative;
}

.nav {
	display: flex;
	gap: 20px;
	flex-grow: 1;
	justify-content: center;
}

.nav a {
	margin: 0 10px;
	color: white;
	text-decoration: none;
	transition:
		color 0.3s,
		transform 0.3s;
}

.nav a:hover {
	color: #3f572c;
	transform: scale(1.1);
}

.pic .homeIcon {
	color: #ddd;
	transition:
		color 0.3s,
		transform 0.3s;
}

.pic .homeIcon:hover {
	color: #3f572c;
	transform: scale(1.1);
}

/* Styles for logout icon */
.logout {
	margin-right: 1em;
	width: 30px;
	height: 30px;
	position: relative;
}

.logoutIcon {
	color: #ddd;
	transition:
		color 0.3s,
		transform 0.3s;
}

.logoutIcon:hover {
	color: #3f572c;
	transform: scale(1.1);
}
